<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
</div>



<!-- 소개 멘트 -->
<div class="row justify-content-center mt-4">
  <div class="col-lg-10 col-md-12 px-5">
    <hr style="border: 0; border-top: 1px solid #ccc; margin: 20px 0;">
    <h3>About</h3>
    <p>{{ site.introduction }}</p>
      <hr style="border: 0; border-top: 1px solid #ccc; margin: 20px 0;">
    </div>
</div>
<br>

<!-- Timeline Section (더 넓게 조정) -->
<div class="row justify-content-center mt-4">
  <div class="col-lg-10 col-md-12 px-5">  <!-- 크기 크게 설정 -->
    <h3>Biography</h3>
    {% include about/timeline.html %}
    <br>
    {% include elements/button.html link='../assets/cv/YeonwooLee_CV_2025.pdf' text="CV" block=true %}
  </div>
</div>
<br>


<div class="row justify-content-center mt-4">
  <div class="col-lg-10 col-md-12 px-5">  <!-- 크기 크게 설정 -->
    <h3>Projects</h3>
    <br>
    {% include elements/project_list.html title="" source=site.data.project %}
  </div>
</div>
<br>

<div class="row justify-content-center mt-4">
  <div class="col-lg-10 col-md-12 px-5">  <!-- 크기 크게 설정 -->
    <h3>Academic Work</h3>
    {% include elements/papers.html title="" source=site.data.publication %}
  </div>
</div>
<br>



<div class="row justify-content-center mt-4">
  <div class="col-lg-10 col-md-12 px-5">  <!-- 크기 크게 설정 -->
    <div class="recent-posts">
      <h3>Recent Essay</h3>
      <ul>
        {% for post in site.posts limit:2 %}
        <br>
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a> &nbsp; 
            <span style="color: gray;">({{ post.date | date: "%Y-%m-%d" }})</span>
            <br>
          </li>
        {% endfor %}
      </ul>
    </div>
    <br>
    <div class="contact">
      <h3 class="text-start">Contact</h3>  <!-- ✅ 혹시 몰라 개별로도 지정 -->
        <p class="text-start">
          <a href="mailto:yeonwoo.lee@gmail.com" style="color: #027bff;">
            yeonwoo.lee@gmail.com
          </a>
        </p>
    </div>
</div>
<br>

