<a href="{{ include.url }}" target="_blank" style="display: block; border: 1px solid #ddd; padding: 10px; margin-bottom: 15px; cursor: pointer; text-decoration: none; color: black;">
    <!-- Row number with larger font and gray color -->
    <span style="display: block; font-weight: bold; font-size: 24px; color: gray;">{{ include.num }}</span>
    <!-- Title -->
    <span style="display: block; font-weight: bold; margin: 0; font-size: 18px; color: black;">{{ include.title }}</span>
    <!-- Description -->
    <span style="display: block; margin: 0; color: black;">{{ include.description }}</span>
  </a>
